@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
        margin: 0;
        padding: 0;
    }
    
    body {
    height: 100vh;
    background: linear-gradient(to bottom, #1d2b53, #7e2553, #ff5555);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    color: white;
}
    
    .titulo-destaque {
            color:#04b0ff;
    }
    
    .conteudo {
            height: auto;
            flex-direction: column;
            margin: 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;
    }
    
    .apresentacao-conteudo {
            width: 615px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 40px;
           align-items: center;
           text-align: center;
           height: auto;
           order: 2;
        }
    
    
    .apresentacao-conteudo-titulo {
            font-size: 80px;
            font-family: 'Lora', serif;
            text-align: justify;
     }
    
    
    .apresentacao-conteudo-paragrafo {
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
            text-align: justify; 
             }
    
    .apresentacao-links {
            display:flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            width: 500px;
            gap: 20px;
    }
    
        .botao1 {
                background-color: #000;
                color: #ff5500;
                width: 500px;
                height: 80px;
                text-align: center;
                align-items: center;
                border: 2px solid #ff5500;
                border-radius: 50px;
                font-size: 36px;
                padding: 15px 0;
                text-decoration: none;
                font-family: 'Rock Salt', cursive;
                letter-spacing: 2px;
                text-transform: uppercase;
                position: relative;
                overflow: hidden;
            }
            
            .botao1::before {
               
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, transparent, #ff5500);
                transition: 0.5s;
            }
            
            .botao1:hover::before {
                left: 100%;
            }
            
            .botao1 i {
                position: absolute;
                left: 50%;
                top: 50px:
            
    }

    .botao5 {
        background-color: #000;
        align-items: center;
        color: #b61ca9; /* Cor padrão do Instagram */
        width: 500px;   
        height: 80px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid#b61ca9;
        border-radius: 50px;
        font-size: 24px;
        padding: 15px 0;
        text-decoration: none;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
    }
    
    .botao5::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, transparent, #2a0887);
        transition: 0.5s;
    }
    
    .botao5:hover::before {
        left: 100%;
    }
    
    .botao5 i {
        position: absolute;
        font-size: 60px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    
    .imagem {
        max-width: 50%;
        width: auto;
        max-height: 300%;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    
    